<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <input type="submit" value="Login">
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>
