<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1><center>You have been successfully logged out. Thank you for visiting!</center></h1>
    </div>
</main>

<%- include ('../partials/footer') %>
