<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <section class="login-page">
    <div class="form">
      <h4>Register</h4>
      <%- include ('../partials/message') %>
      <form class="register-form" action="/register" method="post">
        <input type="text" placeholder="Username" name="username" required/>
        <input type="password" placeholder="Password" name="password" required/>
        <button type="submit">register</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </section>
</main>

<%- include ('../partials/footer') %>
