<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <p>
    &copy; Copyright 2022 : CSCI 3308 - Lab 8 Template Strings
  </p>
</footer>
</body>
</html>