<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="Restaurant Reviews" content="" />
    <!---<title>CSCI 3308 Lab 9</title>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <style>
      body {background-color: #0080ff;} /* purple background */
      nav {background-color: #343a40;} /* Dark background for the navbar */
      nav a {color: #ffffff;} /* purple text for navbar links */
      h1, h2 {color: #343a40;} /* Dark text for headings */
      footer {background-color: #343a40; color: #ffffff;} /* Dark background and white text for the footer */
    </style>
  </head>
  <body>