<header>
  <nav class="navbar navbar-expand-lg border-bottom" style="padding-left: 1%; padding-right: 1%;">
      <h2><a class="rest-rev" href="/home">Restaurant Reviews</a></h2>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto"> 
<!--           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li> -->
          <!-- <a class="nav-link active " aria-current="page" href="/discover">Discover</a> -->
          <li class="nav-item">
            <a class="nav-link active" style="color: white; -webkit-text-stroke: black 0.5px; padding-left: 30%;" aria-current="page" href="/profile">Profile</a>
          </li>
        </ul>
        <form class="d-flex" action="/search" method="GET">
          <input class="form-search" placeholder="Enter a location" required id="location_search" name="k" value=<%= location %>>
          <input class="form-search" placeholder="Service" required id="search" name="k" value="<%= globalSearch %>">
          <button type="submit" class="btn" id="searchButton" style="margin-right: 20px; margin-top: 0.5px; 
          background-image: url(https://cdn-icons-png.flaticon.com/512/6438/6438882.png);
          background-size: 27px 27px;
          background-repeat: no-repeat;"></button>
        </form>
         
        <% if (user) { %>
         
          <div class="nav-item me-1">
            <% let text = "Logout" %>
            <a class="nav-link active" style="color: white; -webkit-text-stroke: black 0.5px;" href="/logout"> <%= text %> </a>
          </div>
          
        <% } else { %>
          <div class="nav-item me-1">
            <a class="nav-link active" style="color: white; -webkit-text-stroke: black 0.5px;" href="/login">Login</a>
          </div>
        <% } %>
      </div>
    </div>
  </nav>
</header>