<header class="fake-nav">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">

  <style>

    .fake-nav {
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;  
      align-items: center;  /* Makes the nav items and logo appear vertically centered with the search box*/
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1.7rem;
      padding-left: 1.5rem;
    }

    #bId {
      background-color: transparent;
      color: #000000;
      padding: 10px;
      font-family: 'Pacifico', cursive;
      text-shadow: -1px 1px 2px #fffdfd, 1px 4px 10px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc;
      white-space: nowrap;
    }
    
    #wishlistId {
        color: #000000;
        text-shadow: -1px 1px 2px #fffdfd, 1px 1px 1px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc;
      }

    .btnSetter > ul {
      display: flex;
      margin: 0;
    }

    .fixNav {  
  /* Prevent nav items from shrinking 
     so they won't collide when window gets narrow. */
  flex-shrink: 0;

  list-style-type: none;
  white-space: nowrap;  
  }


  .textDec {
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
      /* Styles for screens with a maximum width of 768px */
      .fake-nav {
        flex-direction: column;
        align-items: stretch;
        padding-left: 0;
      }

      .btnSetter {
        margin-top: 10px;
      }


      .btnSetter > ul {
        flex-direction: column;
        align-items: stretch;
      }

      .btnSetter > ul > li {
        margin-bottom: 5px;
      }
      #reform {
        margin-left: 36px;
        margin-right: 10px;
      }
      #bId {
        margin-left: 36px;
      }
    }

    
  </style>

<h2 id="bId">Restaurant Reviews</h4>

<div class="btnSetter">
  <ul>
    <li class="fixNav"><a href="/home" class="aId"><img src="/home.svg" style="margin-right: 2px; height: 18px;" alt="">Home</a></li>
    <li class="fixNav"><a href="/profile" class="aId"><img src="/user.svg" style="margin-right: 2px; height: 18px;" alt=""> Profile</a></li>
    <li class="fixNav" style="margin-right: 20px;"><a class="aId" href="/wishlist"><img src="/list.svg" alt="" style="margin-right: 2px; height: 18px;">Wishlist</a></li>
    <li class="fixNav" style="margin-right: 20px;"><a class="aId" href="/following"><img src="/list.svg" alt="" style="margin-right: 2px; height: 18px;">Following</a></li>
  </ul>
  
</div>

    <form action="/search" method="GET" id="reform" style=" background-color: white; height: 40px; border-radius: 5px;
      box-shadow: -2px 0px 6px 1px rgba(0, 0, 0, 0.3); display: flex; align-items: center; justify-content: center; flex-grow: 1;">
      <input class="form-search" placeholder="Enter a location" style="border: none; outline: none; width: 100%; padding-left: 10px;" required id="location_search" name="k" value="<%= location %>">
      <span style="font-size: 25px; color: rgba(0, 0, 0, 0.5);">|</span>
      <input class="form-search" placeholder="Cuisine" style="border: none; outline: none; padding-left: 7px; width: 100%;" required id="search" name="k" value="<%= globalSearch %>">
      <button type="submit" style="height: 40px; width: 80px; background-color: rgb(28, 37, 57); border: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px;
        display: flex; align-items: center; justify-content: center;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/VisualEditor_-_Icon_-_Search-big_-_white.svg/1200px-VisualEditor_-_Icon_-_Search-big_-_white.svg.png);
        background-size: 75% 75%;
        background-position: center;
        background-repeat: no-repeat;">
      </button>
    </form>

    <div class="btnSetter">
      <ul>
        <% if(user) { %>
          <li class="fixNav"><a href="/logout" class="aId"><img src="/logout.svg" style="margin-right: 2px; height: 18px;" alt="">Logout</a></li>
          <% }else {%>
        <li class="fixNav"><a href="/login" class="aId"><img src="/login.svg" style="margin-right: 2px; height: 18px;" alt="">Login</a></li>
         <% } %>
      </ul>
    </div>
</header>
