<header>
  <nav class="navbar navbar-expand-lg border-bottom ">
    <style>
      b {
        color: #ffffff;
        text-shadow: -1px 1px 2px #fffdfd, 1px 4px 10px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc;
      }

      a {
        color: #ffffff;
        text-shadow: -1px 1px 2px #fffdfd, 1px 1px 1px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc;
      }
    </style>
      <b class="navbar-brand" href="#">Restaurant Reviews</b>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto"> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <!-- <a class="nav-link active " aria-current="page" href="/discover">Discover</a> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
          </li>
        </ul>
        <form class="d-flex" action="/search" method="GET">
          <% if (user) { %>
          <input class="form-search" placeholder="Enter a location" id="location_search" name="k" value=<%= user.location %>>
          <% } else { %>
          <input class="form-search" placeholder="Enter a location" id="location_search" name="k">
          <% }; %>
          <input class="form-search" placeholder="Search" id="search" name="k">
          <button type="submit" class="btn" id="searchButton" style="margin-right: 20px; margin-top: 0.5px; 
          background-image: url(https://cdn-icons-png.flaticon.com/512/6438/6438882.png);
          background-size: 27px 27px;
          background-repeat: no-repeat;"></button>
        </form>
         
        <% if (user) { %>
         
          <div class="nav-item me-1">
            <% let text = "Logout, " + user.username %>
            <a class="nav-link active" href="/logout"> <%= text %> </a>
          </div>
          
        <% } else { %>
          <div class="nav-item me-1">
            <a class="nav-link active" href="/login">Login</a>
          </div>
        <% } %>
      </div>
    </div>
  </nav>
</header>