<header>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <nav class="navbar navbar-expand-lg border-bottom ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <style>
      #bId {
        background-color: transparent;
        color: #000000;
        padding: 10px;
        font-family: 'Pacifico', cursive;
        text-shadow: -1px 1px 2px #fffdfd, 1px 4px 10px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc;
      }

      #aId {
        color: #000000;
        text-shadow: -1px 1px 2px #fffdfd, 1px 1px 1px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc;
      }

      
    </style>
      <b id="bId" class="navbar-brand" href="#">Restaurant Reviews</b>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto"> 
          <li class="nav-item">
            <a id="aId" class="nav-link active" aria-current="page" href="/home">Home</a>
          </li> 
          <!-- <a class="nav-link active " aria-current="page" href="/discover">Discover</a> -->
            <a id="aId" class="nav-link active" aria-current="page" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a id="wishlistId" class="nav-link" href="/wishlist">Wishlist</a>
        </li>
        </ul>
        <form class="d-flex" action="/search" method="GET">
          <input class="form-search" placeholder="Enter a location" required id="location_search" name="k" value=<%= location %>>
          <input class="form-search" placeholder="Service" required id="search" name="k" value="<%= globalSearch %>">
          <button type="submit" class="btn" id="searchButton" style="margin-right: 35px; margin-top: 0.5px; 
          background-image: url(../resources/img/icon2.jpg);
          background-size: 24px 27px;
          background-repeat: no-repeat;"></button>
        </form>
        <% if (user) { %>
         
          <div class="nav-item me-1">
            <% let text = "Logout" %>
            <a id="aId" class="nav-link active" href="/logout"> <%= text %> </a>
          </div>
          
        <% } else { %>
          <div class="nav-item me-1">
            <a id="aId" class="nav-link active" href="/login">Login</a>
          </div>
        <% } %>
      </div>
    </div>
  </nav>
</header>
